[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = login@konradburgi.com
	name = rrakea
[alias]
	graph = log --oneline --graph --decorate
	change = blame -w -C -C -C
	c = commit -a
	p = push origin main
	di = diff -B -M -C --
[column]
	ui = auto
[branch]
	sort = committerdate
[pull]
	rebase = false
[core]
	editor = hx
	autocrlf = input
[rerere]
	enabled = true
