[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
[user]
	email = konradburgi1@gmail.com
	name = rrakea
[alias]
	graph = log --oneline --graph --decorate
	change = blame -w -C -C -C
	c = commit -a
[column]
	ui = auto
[branch]
	sort = --committerdate
[pull]
	rebase = false
[core]
	editor = helix
	autocrlf = input
[rerere]
	enabled = true
